.project{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

}

.project p{
    display: none;
}

.project:last-of-type{
    border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);

}

.project:hover p{
    transform: translateX(10px);
}

.project h2{
    font-size: 18px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
    text-transform: capitalize;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
}

@media (min-width:570px) {

    .project{
        justify-content: space-between;
        width: 100%;
    }

    .project p{
        display: flex;
    }

    .project h2{
        font-size: 20px;
    }
}


@media (min-width:900px){
    .project{
        padding: 30px;
    }
}




/* @media (min-width:1400px){
    .project{
        padding: 50px 100px 50px 100px;
    }

    .project h2{
        font-size: 60px;
    }
    
} */